body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
td, th {
	font-size: 1em;	
}
.header_bar {
	color: #6385BB;
	font-size: 42px;
	text-align: center;
	font-family: "Courier New", Courier, monospace;
}
.footer_bar {
	font-size: 11px;
	text-align: center;
}
.msg_confirm {
	font-weight:bold;
}
.paste_list {
	background-color: #ffffff;
	line-height: 150%;
	vertical-align:top;
	border-collapse:collapse;
}
.paste_list tr:hover{
	background-color: #EEF1F5;
}
.paste_list tr {
	border-bottom:1px solid #E3E3E3;
}
.paste_id {
	color: #000000;
	font-size: 24px;
	font-weight: bold;
}
.paste_details {
	color: #666666;
}
.table_head {
	background-color: #f4f4f4;
	font-weight: bold;
}
.row_alt {
	background-color: #FCFCFC;
}
a:link {
	color: #6385BB;
	text-decoration: underline;
}
a:visited {
	color: #6385BB;
	text-decoration: underline;
}
a:hover {
	color: #000000;
	text-decoration: underline;
}
a:active {
	color: #6385BB;
	text-decoration: underline;
}
textarea {
	white-space: pre;
	overflow-x: scroll;
	overflow-y: scroll;
}